* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    min-width: 300px;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    color: dodgerblue;
}

img {
    display: block;
    max-width: 70vw;
    min-width: 300px;
    aspect-ratio: 9/5;
    margin: 2% auto 0 auto;
    box-shadow: 1px 1px 1px 2px rgb(191, 191, 191);
}

.body_box {
    margin: 2% 4% 2% 4%;
    font-family: "Montserrat", sans-serif;
    min-width: 300px;
    max-height: 306px;
    overflow: auto;
}

.body_box h2 {
    color: #0842a0;
}

.body_box p {
    margin: 2% 0 2% 0;
}