* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    background-color: gray;
    margin: 0 0 2rem;
    padding: 2rem 4rem;
    display: flex;
    justify-content: center;

    .header-row {
        font-size: x-large;
    }
}

.main-content {
    margin: 0 0 2rem;
}

.footer {
    margin: 0 0 2rem;
}

@media only screen and (max-width: 600px) {
    .header-container {
        background-color: blue !important;
    }
}